*{
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
    border: 1px solid black;
 
 }
 
 .wrapper {
 display: flex;
 flex-direction: column; 
 height: 100vh;
 }
 
 header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex: .15;
    background-color:#ffd40e;
 }
 h1{
    font-size: 16px;
    padding-left: 50px;
    
 }
 .banner {
    flex:.35;
    background-color: red;
    display: flex;
 }
 .img {
     background-image: url(https://coursework.vschool.io/content/images/2015/07/luigi.png);
     height: 85%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
 }
 .main {
    flex:.35;
 }
 footer {
   flex: .15;
 }
 .img2{
     background-color: yellow;

 }